*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh width 100vw;
  color: white;
  background-color: black;
}

.spotify-green {
  background-color: #1db954;
}

.main-body-container {
  display: flex;
  flex-direction: row;
}

.page-content {
  height: 100vh;
  background-image: linear-gradient(red, black);
  flex-grow: 1;
}
.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-container {
  height: 100vh;
}

.border {
  border: 1px solid white;
}

#currently-playing {
  height: 80px;
  width: 100%;
  border-top: 1px solid gray;
  background-color: black;
  position: fixed;
  bottom: 0px;
}

#spotify-logo {
  height: 85px;
  padding: 25px 75px 25px 25px;
}

#album-jumbotron {
  flex-grow: 2;
}

#album-content {
  background-color: rgba(0, 0, 0, 0.3);
  flex-grow: 5;
}
