@font-face {
  font-family: "GothamBlack";
  src: url(fonts/Gotham-Black.otf);
}
@font-face {
  font-family: "GothamBold";
  src: url(fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: "GothamBook";
  src: url(fonts/GothamBook.ttf);
}
@font-face {
  font-family: "GothamLight";
  src: url(fonts/Gotham-Light.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.display-none {
  display: none;
}

body {
  height: 100vh width 100vw;
  color: white;
  background-color: #121212;
  font-family: GothamBook;
  user-select: none;
}

.icon-white {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-medium {
  font-size: 1.54em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-large {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-xl {
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.spotify-green {
  background-color: #1db954;
}

.main-body-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.page-content {
  height: 100vh;
  background-image: linear-gradient(red, #121212, #121212);
  flex-grow: 1;
}
.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-container {
  height: 100vh;
}

.border {
  border: 1px solid white;
}

.cursor {
  cursor: pointer;
}

#spotify-logo {
  height: 85px;
  padding: 25px 75px 25px 25px;
}

#album-header {
  height: 30vh;
  padding: 1vh;
}

#album-nav-top {
  margin: 0;
  max-width: 100%;
}
/* css for the user icon */
.dropdown {
  margin-left: auto;
}
.arrows-profile {
  background-color: transparent;
  margin-left: 0;
  display: flex;
}

#profilepic,
#pointerdown {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.dropbtn {
  background-color: black;
  color: white;
  font-family: "GothamBlack";
  border: none;
  border-radius: 30px;
  padding: 5px;
  margin-top: 2vh;
  margin-right: 2vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  left: -10px;
  background-color: #282828;
  border-radius: 10px;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "GothamBold";
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: #494949;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#album-jumbotron {
  padding: 1vh;
  margin: 0;
  max-width: 100%;
  height: 25vh;
  position: relative;
}

#jumbotron-album-content {
  padding: 1vh;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0;
}

#jumbotron-album-img {
  padding: 1vh;
  /* max-width: 170px; */
  max-height: 220px;
  aspect-ratio: 1 / 1;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 1vw;
  box-shadow: 0px 0px 25px 5px rgb(0 0 0 / 0.5);
}

#album-img {
  height: 250px;
  object-fit: cover;
}

#album-name {
  font-family: GothamBold;
  max-width: 90%;
}

#album-duration {
  margin-left: 5px;
}

#album-artist {
  margin-bottom: 0;
}

#artist-small-image-container {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

#artist-small-image {
  object-fit: cover;
  height: 40px;
}

#jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.arrow {
  background-color: rgba(18, 18, 18, 0.4);
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-back {
  padding-right: 6px;
}
.arrow-forward {
  padding-left: 6px;
}

.arrow:hover {
  background-color: rgba(18, 18, 18, 0.8);
}

#album-content {
  background-color: rgba(18, 18, 18, 0.4);
  flex-grow: 1;
  max-width: 100%;
}

#play-section {
  max-width: 100%;
  height: 8vh;
}
#heart-dots-wrapper {
  display: flex;
  align-items: center;
}

#greenPlay {
  width: 50px;
  height: 50px;
  background-color: #1db954;
  border-radius: 50%;
}

#triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
  /* position: relative;
  top: 50%;
  left: 50%; */
}

#album-table {
  padding: 1vh;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

#track-table-content {
  height: 39vh;
  overflow: hidden;
  overflow-y: scroll;
}

.table-row {
  display: flex;
}
.table-row-header {
  display: flex;
}

.table-row:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.current-track {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.title-header {
  flex-grow: 1;
}

hr {
  border: 1px solid white;
  opacity: 40%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.track {
  margin-inline: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.track-name {
  flex-grow: 1;
}

.track-name > :first-child {
  font-family: GothamBold;
  font-size: 1em;
}
.track-name > :nth-child(2) {
  font-family: GothamLight;
}

#currently-playing {
  z-index: 1;
  height: 90px;
  min-width: 100%;
  border-top: 1px solid rgb(61, 61, 61);
  background-color: #191919;
  position: fixed;
  bottom: 0px;
  margin: 0;
}

#currently-playing-img-container {
  margin: 0;
  height: 50px;
  width: 50px;
  object-fit: cover;
  overflow: hidden;
}

#currently-playing-img {
  margin: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playButtonBottom {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#current-track {
  font-family: GothamBold;
  font-size: 0.8em;
}

#current-track + div {
  font-size: 0.8em;
}

.playpause {
  padding: 12px;

  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.playpause .button {
  width: 15px;
  height: 15px;
  background: #191919;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: inherit;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}
.playpause.playing .button {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.progress-wrapper {
  width: 500px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  width: 10%;
  height: 5px;
  background-color: #797979;
  border-radius: 2px;
  transition: width 500ms ease-in-out;
}
#trackProgress {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

#trackProgressElapsed {
  width: 1%;
  height: 5px;
  background-color: #ffffff;
  text-align: center;
  line-height: 5px;
  border-radius: 2px;
  color: white;
}

#speaker {
  background-color: black;
  position: relative;
  right: 8px;
}

#monitor {
  position: relative;
  left: 8px;
}

ion-icon {
  font-size: 25px;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #4f4f4f;
  border: 1px solid #8a8a8a;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #dadada;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;

  background: pink;
  border-color: transparent;
  color: pink;
}
input[type="range"]::-ms-fill-lower {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #b6b6b6;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #b6b6b6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

/* responsiveness for mobile */

/*SIDEBAR SECTION*/
.navbar {
  flex-flow: column nowrap;
  align-items: flex-start;
  /* background-color: black;*/
  z-index: 2;
}

#navbarNavAltMarkup {
  padding-top: 2vh;
}

#logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar-brand {
  font-family: "GothamBlack";
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#HomeSearchLibrary > li > a {
  font-family: "GothamBold";
}

#navbar-logos {
  filter: invert(53%) sepia(7%) saturate(486%) hue-rotate(193deg)
    brightness(95%) contrast(85%);
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

#navbar-logos:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar .navbar-collapse .navbar-nav a {
  color: #80828d !important;
  transition: 0.3s;
}

.navbar .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

#liked-songs {
  width: 20px;
  filter: brightness(60%);
  transition: 0.3s;
}

#liked-songs:hover {
  filter: brightness(100%);
}

.navbar.fixed-left .navbar-brand {
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

ul {
  list-style-type: none;
  padding-left: 1vw;
}

hr {
  border: 0;
  border-top: 1px solid #80828d;
  width: 13vw;
  margin-left: 0.5vw;
}

.playlists {
  margin-left: 1vw;
  width: 13vw;
  cursor: pointer;
  overflow-y: scroll;
  height: 51vh;
}

.playlist-link {
  color: #80828d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
}
.playlist-link:hover {
  color: white;
}

.navbar.fixed-left .navbar-collapse .navbar-nav #install-app {
  position: absolute;
  bottom: 2vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
/* End of scrollbar */
@media only screen and (max-width: 600px) {
  .page-content {
    max-width: 100vw;
  }
  .main-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
  }
  .navigation-container {
    display: none;
  }
  #spotify-logo {
    display: none;
  }

  .arrow-forward {
    display: none;
  }
  #album-nav-top {
    height: 40px;
    display: none;
  }
  #jumbotron-album-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  #jumbotron-album-img {
    position: relative;
    top: 0px;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    min-height: 200px;
    justify-content: center;
    align-items: center;
  }
  #album-jumbotron {
    height: 40vh;
  }
  #jumbotron-text {
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1vh;
  }
  #album-name {
    font-size: 1em;
    width: 80vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #small-jumbotron-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #album-artist {
    width: 80vw;
  }

  #album-artist + .bi,
  h5,
  #album-year + .bi,
  .bi-window-fullscreen,
  .bi-skip-start-fill,
  .bi-skip-end-fill,
  .bi-arrow-repeat,
  span > .bi-shuffle,
  #number-of-tracks,
  #album-duration,
  .progress-wrapper,
  #time-elapsed,
  #total-time,
  .bi-list,
  .bi-volume-up,
  #monitor,
  #speaker,
  #volume {
    display: none;
  }

  .display-none {
    display: flex;
  }

  /* 
  #play-section {
    background-color: #1db954;
  } */

  #shuffle-play-wrapper {
    order: 2;
    display: flex;
    align-items: center;
  }

  .mobile-between {
    justify-content: space-between;
  }
  #greenPlay {
    order: 3;
  }

  #table-title {
    display: none;
  }

  #album-table {
    overflow: auto;
  }
  #track-table-content {
    margin-top: 30px;

    overflow: auto;
  }

  .track-name > :first-child {
    font-family: GothamBold;
    font-size: 0.8em;
  }
  .track-name > :nth-child(2) {
    font-family: GothamLight;
    font-size: 0.8em;
  }

  hr {
    display: none;
  }

  #currently-playing {
    max-width: 100%;
    margin: 0;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #797979;
    border-radius: 3px;
  }

  #currently-playing > .row {
    width: 100vw;
    flex-wrap: nowrap;
  }
  #currently-playing-img-container {
    padding: 5px;
  }

  #small-icons-right {
    display: none;
  }
  #current-track {
    font-size: 0.7em;

    width: 50vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #current-track + div {
    font-size: 0.6em;
  }

  #current-song-text-wrapper + div {
    margin: 0;
  }

  #currently-playing > .bi-heart {
    margin: 0;
    font-size: 1.5em;
  }

  #playButtonBottom {
    margin: 0;
    background-color: transparent;
    border-color: transparent;
  }
  .playpause .button {
    background-color: white;
    scale: 1.5;
  }
  .mobile-margin {
    margin: 0;
    padding: 0px;
  }

  #small-icons-right {
    display: none;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
  }
}
