*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh width 100vw;
  color: white;
  background-color: black;
}

.spotify-green {
  background-color: #1db954;
}

.main-body-container {
  display: flex;
  flex-direction: row;
}

.page-content {
  flex-direction: column;
  height: 100vh;
  background-color: #151515;
  /*   background-color: #1db954; */
}

.navigation-container {
  height: 100vh;
}

.border {
  border: 1px solid white;
}

#currently-playing {
  height: 80px;
  width: 100%;
  border-top: 1px solid gray;
  background-color: #181818;
  position: fixed;
  bottom: 0px;
}

#spotify-logo {
  height: 85px;
  padding: 25px 75px 25px 25px;
}

/*-----------Jumbotron-------------*/

.jumbotron-fluid {
  background-image: url(https://e-cdns-images.dzcdn.net/images/artist/0b17b99897d17ceb7027ed57cdbb7044/1000x1000-000000-80-0-0.jpg);
  background-size: cover;
  height: 37vh;
  background-position-y: -27vh;
  margin-bottom: 1.5rem;
  text-shadow: 0px 0px 0px black, 0px 0px 0px black, 0px 0px 0px black,
    0px 0px 0px black;
}

.artistDescription {
  position: relative;
  left: 0;
  bottom: 0;
  padding-top: 10vh;
}

.artistDescription h1 {
  font-weight: 700;
}

.lead {
  font-size: 14px;
  font-weight: 500;
}

/*--------------Play button, Follow button------------*/

.btnSection {
  margin-left: 3vh;
}

.playBtn {
  position: relative;
  background-color: #1db954;
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
  margin-left: 3vh;
}

.triangle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-width: 14px 0 14px 20px;
  border-color: transparent transparent transparent white;
}

.followBtn {
  background: transparent;
  color: white;
  font-weight: 600;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 13px;
  padding: 3px 14px;
}

.followBtn:hover {
  user-select: none;
  color: white;
  border: 1px solid white;
}

.dots {
  color: grey;
  font-size: 600;
  margin-left: 20px;
}

.dots:hover {
  color: white;
}

/*-----------------------Popular Section----------------*/

.greyColor {
  color: grey;
}

.popularSection {
  margin-left: 3vh;
}

.popular {
  /* border: 1px solid pink; */
  flex: 3;
}

.artistPick {
  /* border: 1px solid pink; */
  flex: 1;
}

td img {
  padding-right: 20px;
}

.hovering {
  position: relative;
  margin-bottom: 3px;
  border-radius: 10px;
  display: flex;
  width: 98%;
  justify-content: space-between;
}

.hovering:hover {
  background-color: rgb(42, 42, 42);
  display: flex;
}

.heart {
  /* display: none; */
  position: absolute;
  right: 24%;
}

.dot {
  /* display: none; */
  position: absolute;
  right: 8%;
}
/*--------------------------Artist Pick------------------------------*/

.imagen {
  height: 50px;
  width: 50px;
}

.rest p,
.rest span {
  margin: 0;
  font-size: 11px;
}

.rest img {
  border-radius: 50%;
}

/* FOR SONG PLAYER */
.icon-white {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-medium {
  font-size: 1.54em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-large {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}
#currently-playing {
  height: 90px;
  min-width: 100%;
  border-top: 1px solid rgb(61, 61, 61);
  background-color: #191919;
  position: fixed;
  bottom: 0px;
  margin: 0;
}

#currently-playing-img-container {
  margin: 0;
  height: 50px;
  width: 50px;
  object-fit: cover;
  overflow: hidden;
}

#currently-playing-img {
  margin: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playButtonBottom {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#current-track {
  font-family: GothamBold;
  font-size: 0.8em;
}

#current-track + div {
  font-size: 0.8em;
}

.playpause {
  padding: 12px;
  border: 1px solid green;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.playpause .button {
  width: 15px;
  height: 15px;
  background: #191919;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: inherit;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}
.playpause.playing .button {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.progress-wrapper {
  width: 500px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  width: 10%;
  height: 5px;
  background-color: #797979;
  border-radius: 2px;
  transition: width 500ms ease-in-out;
}
#trackProgress {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

#trackProgressElapsed {
  width: 1%;
  height: 5px;
  background-color: #ffffff;
  text-align: center;
  line-height: 5px;
  border-radius: 2px;
  color: white;
}

#speaker {
  background-color: black;
  position: relative;
  right: 8px;
}

#monitor {
  position: relative;
  left: 8px;
}

input[type="range"] {
  height: 5px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #4f4f4f;
  border: 1px solid #8a8a8a;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #dadada;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;

  background: pink;
  border-color: transparent;
  color: pink;
}
input[type="range"]::-ms-fill-lower {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #b6b6b6;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #b6b6b6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
