div {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

.nav {
  border-bottom: 1px solid rgb(217, 218, 220);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.spotify {
  height: 42px;
  padding: 0px 0px 6px;
}

.logo {
  fill: var(--decorative-base, #000000);
  stroke: transparent;
}

.main {
  flex: 3 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 10px;
}

.middle {
  max-width: 450px;
  width: 100%;
}

.log-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#log-text {
  text-align: center;
}

.btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  --webkit-tap-highlight-color: transparent;
  font-size: 14px;
  font-weight: 700;
  border-radius: 500px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  --user-select: none;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  padding: 2px 30px;
  position: relative;
  border: 1px solid var(--essential-subdued, #878787);
  width: 100%;
  cursor: pointer;
}

#firstButton {
  color: rgb(248, 248, 248);
  background-color: rgb(59, 89, 152);
  text-transform: uppercase;
}

.p-text {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  -webkit-box-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
}

.facebook-logo {
  stroke-width: 1pt;
  color: rgba(255, 255, 255, 0.9);
}

.dMCjEC [fill="#181818"] {
  fill: currentcolor;
}

#secondBtn {
  color: rgb(248, 248, 248);
  background-color: rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}

.btn::after {
  display: block;
  position: absolute;
  pointer-events: none;
  transition: border-color 200ms ease-in 0s;
  box-sizing: border-box;
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  top: -6px;
  left: -6px;
  background: transparent;
  border-radius: 500px;
  border: 3px solid transparent;
  content: "";
}

#google {
  color: black;
}
