@font-face {
  font-family: "GothamBlack";
  src: url(fonts/Gotham-Black.otf);
}
@font-face {
  font-family: "GothamBold";
  src: url(fonts/Gotham-Bold.otf);
}
@font-face {
  font-family: "GothamBook";
  src: url(fonts/GothamBook.ttf);
}
body {
  background-color: #121212;
  background: linear-gradient(
    0deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(21, 21, 105, 1) 75%,
    rgba(8, 19, 172, 1) 100%
  );
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
  background-attachment: fixed;
  font-family: GothamBook;
}

/*SIDEBAR SECTION*/
.navbar {
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
  z-index: 1;
}

#navbarNavAltMarkup {
  padding-top: 4vh;
}

#logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar-brand {
  font-family: "GothamBlack";
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#HomeSearchLibrary > li > a {
  font-family: "GothamBold";
}

#navbar-logos {
  filter: invert(53%) sepia(7%) saturate(486%) hue-rotate(193deg)
    brightness(95%) contrast(85%);
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

#navbar-logos:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar .navbar-collapse .navbar-nav a {
  color: #80828d !important;
  transition: 0.3s;
}

.navbar .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

#liked-songs {
  width: 20px;
  filter: brightness(60%);
  transition: 0.3s;
}

#liked-songs:hover {
  filter: brightness(100%);
}

.navbar.fixed-left .navbar-brand {
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

ul {
  list-style-type: none;
  padding-left: 1vw;
}

hr {
  border: 0;
  border-top: 1px solid #80828d;
  width: 13vw;
  margin-left: 0.5vw;
}

.playlists {
  margin-left: 1vw;
  width: 13vw;
  cursor: pointer;
  overflow-y: scroll;
  height: 51vh;
}

.playlist-link {
  color: #80828d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
}
.playlist-link:hover {
  color: white;
}

.navbar.fixed-left .navbar-collapse .navbar-nav #install-app {
  position: absolute;
  bottom: 2vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
/* End of scrollbar */

/*MAIN PAGE SECTION*/

/* top navbar */
.arrows-profile {
  background-color: transparent;
  margin-left: 0;
  display: flex;
}
.dropdown {
  margin-left: auto;
}

#left,
#right {
  margin-top: 2vh;
  width: 30px;
  margin-left: 2vw;
}

#profilepic,
#pointerdown {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.dropbtn {
  background-color: black;
  color: white;
  font-family: "GothamBlack";
  border: none;
  border-radius: 30px;
  padding: 5px;
  margin-top: 2vh;
  margin-right: 2vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  left: -10px;
  background-color: #282828;
  border-radius: 10px;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "GothamBold";
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #494949;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* end of top navbar */

/* main section */

/* end of main section */

.greeting {
  font-weight: 600;
  font-family: "GothamBlack";
}
.background-card {
  background-color: rgba(100, 100, 100, 0.301);
  border-radius: 5px;
  transition: 0.4s;
}

#recentlyPlayed .col {
  flex-grow: 0;
}

.card-title {
  font-weight: 600;
  font-family: "GothamBold";
  width: 8vw;
  margin-left: -1vw;
  text-align: center;
}
.cart-text {
  font-family: "GothamBlack";
}
#darker {
  background-color: rgba(48, 48, 48, 0.301);
  transition: 0.4s;
}

main {
  padding: 2rem;
  color: #dedee0;
  height: 85.33vh;
  overflow-y: auto;
  z-index: 1;
}
.card {
  margin-top: 2vh;
  width: 8vw;
}

/* Footer */
footer {
  background-color: #191919;
  bottom: 0;
  margin-bottom: 0;
  height: 9vh;
  width: 100%;
  color: #858585;
  padding-top: 1vh;
  position: fixed;
}
.playerControls {
  max-width: 220px;
  margin: 0 auto;
}

.playerControls a img {
  width: 14px;
  max-height: 16px;
  margin-right: 0.5rem;
  filter: brightness(60%);
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

.progressContainer {
  color: white;
}

.progressContainer span {
  opacity: 0.5;
}

.progress {
  color: white;
  background-color: #414141;
  height: 6px;
  margin: 0 1rem;
}
.playerArtistInfo > div {
  overflow: hidden;
}
.playBar p,
.playBar h6 {
  color: white;
  margin: 0;
}

.playBar h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playBar p {
  font-size: 0.85rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.playerVolume {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.playerVolume .fa {
  opacity: 0.5;
  color: white;
  margin-right: 0.5rem;
}
.playerVolume input {
  outline: none;
  background: transparent;
}
.playerVolume input::-webkit-slider-runnable-track {
  background-color: #414141;
  height: 6px;
  border-radius: 20px;
  overflow: hidden;
}
.playerVolume input::-webkit-slider-thumb {
  width: 0px;
  box-shadow: -200px 0 0 200px #007bff;
}

/* end of main section */

/* CSS FOR ALBUM PAGE INCLUDING LOWER BAR ---- Aneesah */
.icon-white {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-medium {
  font-size: 1.54em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-large {
  font-size: 2em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

.icon-white-xl {
  font-size: 3em;
  color: rgb(255, 255, 255);
  margin-inline: 20px;
}

#currently-playing {
  height: 90px;
  min-width: 100%;
  border-top: 1px solid rgb(61, 61, 61);
  background-color: #191919;
  position: fixed;
  bottom: 0px;
  margin: 0;
  color: white;
  z-index: 2;
}

#currently-playing-img-container {
  margin: 0;
  height: 50px;
  width: 50px;
  object-fit: cover;
  overflow: hidden;
}

#currently-playing-img {
  margin: 0;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playButtonBottom {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#current-track {
  font-family: GothamBold;
  font-size: 0.8em;
}

#current-track + div {
  font-size: 0.8em;
}

.playpause {
  padding: 12px;
  border: 1px solid green;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.playpause .button {
  width: 15px;
  height: 15px;
  background: #191919;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: inherit;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}
.playpause.playing .button {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}

.progress-wrapper {
  width: 500px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.progress-bar-fill {
  width: 10%;
  height: 5px;
  background-color: #797979;
  border-radius: 2px;
  transition: width 500ms ease-in-out;
}
#trackProgress {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

#trackProgressElapsed {
  width: 1%;
  height: 5px;
  background-color: #ffffff;
  text-align: center;
  line-height: 5px;
  border-radius: 2px;
  color: white;
}

#speaker {
  background-color: black;
  position: relative;
  right: 8px;
}

#monitor {
  position: relative;
  left: 8px;
}

ion-icon {
  font-size: 25px;
}

input[type="range"] {
  height: 5px;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #4f4f4f;
  border: 1px solid #8a8a8a;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #dadada;
  cursor: pointer;
  appearance: none;
  margin-top: -3px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6b6b6;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000;
  background: #b6b6b6;
  border-radius: 25px;
  border: 1px solid #8a8a8a;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;

  background: pink;
  border-color: transparent;
  color: pink;
}
input[type="range"]::-ms-fill-lower {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #b6b6b6;
  border: 1px solid #8a8a8a;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #dadada;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #b6b6b6;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #b6b6b6;
}
.playerimg {
  height: 7vh;
  margin-left: 20px;
}

.bottomsongtitle {
  color: #fff;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 0.9em;
}

.bottomalbumname {
  color: #fff;
  font-size: 0.7em;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
}

.footerleft {
  display: flex;
}

.flexbottomtitle {
  display: flex;
  flex-direction: column;
}
/* End Footer */
/*BUILDING MOBILE RESPONSIVE VIEW*/
