@font-face {
  font-family: "GothamBlack";
  src: url(fonts/Gotham-Black.otf);
}
@font-face {
  font-family: "GothamBold";
  src: url(fonts/Gotham-Bold.otf);
}
body {
  background-color: #121212;
  background: linear-gradient(
    0deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(21, 21, 105, 1) 75%,
    rgba(8, 19, 172, 1) 100%
  );
  background-size: cover;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  background-attachment: fixed;
}

/*SIDEBAR SECTION*/
.navbar {
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
}

#navbarNavAltMarkup {
  padding-top: 4vh;
}

#logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar-brand {
  font-family: "GothamBlack";
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#HomeSearchLibrary > li > a {
  font-family: "GothamBold";
}

#navbar-logos {
  filter: invert(53%) sepia(7%) saturate(486%) hue-rotate(193deg)
    brightness(95%) contrast(85%);
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

#navbar-logos:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar .navbar-collapse .navbar-nav a {
  color: #80828d !important;
  transition: 0.3s;
}

.navbar .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

#liked-songs {
  width: 20px;
  filter: brightness(60%);
  transition: 0.3s;
}

#liked-songs:hover {
  filter: brightness(100%);
}

.navbar.fixed-left .navbar-brand {
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

ul {
  list-style-type: none;
  padding-left: 1vw;
}

hr {
  border: 0;
  border-top: 1px solid #80828d;
  width: 180px;
  margin-left: 1vw;
}

.playlists {
  margin-left: 1vw;
  width: 13vw;
  cursor: pointer;
  overflow-y: scroll;
  height: 58vh;
}

.playlist-link {
  color: #80828d;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.3s;
}
.playlist-link:hover {
  color: white;
}

.navbar.fixed-left .navbar-collapse .navbar-nav #install-app {
  position: absolute;
  bottom: 2vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
/* End of scrollbar */

/*MAIN PAGE SECTION*/

/* top navbar */
.arrows-profile {
  background-color: transparent;
  margin-left: 0;
  display: flex;
}
.dropdown {
  margin-left: auto;
}

#left,
#right {
  margin-top: 2vh;
  width: 30px;
  margin-left: 2vw;
}

#profilepic,
#pointerdown {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.dropbtn {
  background-color: black;
  color: white;
  font-family: "GothamBlack";
  border: none;
  border-radius: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 2vh;
  margin-right: 2vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: "GothamBold";
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #494949;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* end of top navbar */

/* main section */

/* end of main section */

.greeting {
  font-weight: 600;
}
.background-card {
  background-color: rgba(100, 100, 100, 0.301);
  border-radius: 5px;
  transition: 0.4s;
}

.card-title {
  font-weight: 600;
}
#darker {
  background-color: rgba(48, 48, 48, 0.301);
  transition: 0.4s;
}

.mainPage {
  overflow-y: auto;
}

main {
  padding: 2rem;
  color: #dedee0;
}
/* Footer */
footer {
  background-color: #191919;
  bottom: 0;
  margin-bottom: 0;
  height: 9vh;
  width: 100%;
  color: #858585;
  padding-top: 1vh;
  position: fixed;
}
.playerControls {
  max-width: 220px;
  margin: 0 auto;
}

.playerControls a img {
  width: 14px;
  max-height: 16px;
  margin-right: 0.5rem;
  filter: brightness(60%);
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

.progressContainer {
  color: white;
}

.progressContainer span {
  opacity: 0.5;
}

.progress {
  color: white;
  background-color: #414141;
  height: 6px;
  margin: 0 1rem;
}
.playerArtistInfo > div {
  overflow: hidden;
}
.playBar p,
.playBar h6 {
  color: white;
  margin: 0;
}

.playBar h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.playBar p {
  font-size: 0.85rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.playerVolume {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.playerVolume .fa {
  opacity: 0.5;
  color: white;
  margin-right: 0.5rem;
}
.playerVolume input {
  outline: none;
  background: transparent;
}
.playerVolume input::-webkit-slider-runnable-track {
  background-color: #414141;
  height: 6px;
  border-radius: 20px;
  overflow: hidden;
}
.playerVolume input::-webkit-slider-thumb {
  width: 0px;
  box-shadow: -200px 0 0 200px #007bff;
}

.playerimg {
  height: 7vh;
  margin-left: 20px;
}

.bottomsongtitle {
  color: #fff;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 0.9em;
}

.bottomalbumname {
  color: #fff;
  font-size: 0.7em;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 10px;
}

.footerleft {
  display: flex;
}

.flexbottomtitle {
  display: flex;
  flex-direction: column;
}
/* End Footer */
/*BUILDING MOBILE RESPONSIVE VIEW*/
