@font-face {
  font-family: "GothamBlack";
  src: url(fonts/Gotham-Black.otf);
}
@font-face {
  font-family: "GothamBold";
  src: url(fonts/Gotham-Bold.otf);
}

/*SIDEBAR SECTION*/
.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 260px;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
}

#logo {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar-brand {
  font-family: "GothamBlack";
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#HomeSearchLibrary > li > a {
  font-family: "GothamBold";
}

#navbar-logos {
  filter: invert(53%) sepia(7%) saturate(486%) hue-rotate(193deg)
    brightness(95%) contrast(85%);
  width: 2vw;
  height: 2vh;
  transition: 0.3s;
}

#navbar-logos:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}

.navbar.fixed-left .navbar-collapse .navbar-nav a {
  color: #80828d !important;
  transition: 0.3s;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

#liked-songs {
  width: 21px;
  filter: brightness(60%);
  transition: 0.3s;
}

#liked-songs:hover {
  filter: brightness(100%);
}

.navbar.fixed-left .navbar-brand {
  padding-top: 2vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
}

ul {
  list-style-type: none;
  padding-left: 1vw;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #80828d;
  width: 210px;
}

.playlists {
  margin-left: 1vw;
  cursor: pointer;
}

.playlist-link {
  color: #80828d;
  transition: 0.3s;
}
.playlist-link:hover {
  color: white;
}

.navbar.fixed-left .navbar-collapse .navbar-nav #install-app {
  position: absolute;
  bottom: 2vh;
}
